<%= form_for(@klass.invoices.new, :remote => true) do |f| %>
  <ul>
      
      <li><%= f.label :content %><%= f.text_area :content %></li>

      <li><%= f.submit 'Save', :class => 'submit', :id => "submit_invoice_edit" %></li>
  </ul>
<% end %>