<div id="html_tabs"  class="orange_bgr">
  	<ul>
  		<% if can? :read, Firm %>
  		<li><%= link_to (t 'navigation.invoices') , invoices_path, data:{name: "Invoices"}%></li>
	    <li><%= link_to (t 'navigation.reports'), reports_path, data:{name: "Reports"}%></li>
	    <%end%>
	</ul>
</div>