<div class="index-view">
	<div class="list_header orange_bgr">
		<a id="dialog_invoice" data-object="user">New invoice</a>
		<div id="dialog_invoice_form" class="dialog_form" title="Create new invoice" style="display:none;">
		<%= render 'form' %>
    </div>
	    <div class="search">
	        <input type="text" placeholder="Search" name="search" AUTOCOMPLETE=OFF value="" id="id_search_list">
	    </div>
	</div>
	<div id="cus_pro_us_listing_container">
  <ul id="cus_pro_us_listing">
    <%= render @invoices %>
  </ul>
</div>
</div>