<div class="log_menu">
	<div class="range" >	   
	   
	    <div id="range_date_fields_graphs">
		  	<%= text_field_tag 'from', time_zone_now.strftime("%Y-%m-%d"),  :class => "range_date_graphs"%>
			<%= text_field_tag 'to', time_zone_now.strftime("%Y-%m-%d"), :class => "range_date_graphs"  %>
		</div>
	  
   	</div>

    <div class="logs_pr_date">
  		<select class="small_selector" id="stats">
          	<option value="users_logs">Stats for users</option>
		  	<option value="projects_logs">Stats for projects</option>
		  	<option value="customers_logs">Stats for customers</option>   
      	</select>
    </div> 
</div>
