<%= render "private/home_header" %>
<div id="left" class="home_content">
<div class="timesheet">
  		<%= render "timesheet_header" %>
   <div class="listing_logs"> 
 	<%= render "logs/list_header" %>
    <%= render @logs %>
   </div>
</div>
</div>