@import "navi_styles";
@import "charts";
@import "calendar";
@import "timesheet";
@import "nv_d3";
@import "jquery-ui-1.8.7custom";
@import "tabs";
@import "far_right_box";
@import "chosen";
@import "jquery.ui.selectmenu";
@import "sl_graphs";
@import "plans";
@import "subscriptions";


html, body{
  margin:0;
  padding:0;
  font-family: Verdana,Helvetica,sans-serif; 
  letter-spacing:1px; 
  background-color: #ffffff;
  }
textarea{
	height: 200px;
	width: 369px;
}

body a{text-decoration: none; color:#000;}
body a:hover {text-decoration: underline; color:#000;}
body, ul, li{list-style-type:none;}

input{border:1px solid #999;}
.bold{
font-weight: bold;
}
.smaller{
  font-size: 12px;
  line-height:20px;
}

ul.hmenu {
  list-style: none;	
  margin: 0 0 4px;
  padding: 0;
  font-size: 12px;
  
}
ul.hmenu a{
color:white;

}
ul.hmenu li {
  display: inline;  
  
}

#header {
	position:fixed;
	top:0px;
	z-index:1000;
	font-weight:bold;
	font-size:20px;
	height:100px;
	width: 100%;	
}

.common_header{

height:100px;
width:1180px;
margin: auto;
}
#firm_logo_view{
 float: left;
 width:100px;
 height:100px;
 margin:0;
}

#user_info_header{
 height:60px;
 
 float: left;
 padding: 20px;
}


.page_help_container{
	width:1110px;
  text-decoration: none;
 
 margin: 145px 15px 15px 15px;
 padding: 20px;
 background: #FDFFCF;
 border: 1px solid #555;
 -moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}
.page_help{
  position: fixed;
  top:0px;
  width:1180px;
  display:none;
  background-color: #FFFFFF;
  z-index: 100;
}
.display_help:hover{
 text-decoration: underline;
 cursor:pointer;

}
#main {



	
} 
#wrapper{
margin-top:100px;
width:100%
}
#all_container{
position:relative;
margin-top:125px;
margin-bottom:50px;
background-color: #fff;
padding: 0 0 30px 0;
}
#content{
  position:relative;
}
.messages{

position:fixed;
z-index:1000;
width:100%;
height: 25px;
background: #000000;
background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#444444));
background: -moz-linear-gradient(top, #000000, #444444);
background: linear-gradient(top, #000000, #444444);
background: -o-linear-gradient(top, #000000, #444444);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#444444');


}

.spinning {width:15px;height:15px;margin: 5px 0 0 15px;float: left;background: url('spinner.gif') no-repeat right !important; }
.ajax-loader-big {background: url('ajax-loader-big.gif') no-repeat right !important; }
#flash_messages{
margin: 3px 0 0 15px;
font-size:15px;
float:left;
}
.flash_notice, .flash_error{
color:white;
}
#user_nav_header {
clear: right;
float: right;
font-size:15px;
margin:3px 15px 0 0;
color:white;
}
#user_nav_header a{
color:white;
}
#user_nav_header a:hover{
text-decoration: underline; 

}

#main_container{
margin-left:200px;

max-width: 980px;
 }
    
#navigation{
 
  position: fixed;
  top:125px;
  
  z-index:1000;
	

}
#navigation ul{
	padding:0px;
	margin:0px;

}
#navigation li{
	background: #4D90FE;
/*	background-image: -webkit-gradient(linear,left top,left bottom,from(#4D90FE),to(#4787ED));
  background-image: -webkit-linear-gradient(top,#4D90FE,#4787ED);
  background-image: -moz-linear-gradient(top,#4D90FE,#4787ED);
  background-image: -ms-linear-gradient(top,#4D90FE,#4787ED);
  background-image: -o-linear-gradient(top,#4D90FE,#4787ED);
  background-image: linear-gradient(top,#4D90FE,#4787ED);*/
	font-size:20px;
	height:75px;
	list-style-type:none;
	width:200px;
	cursor:pointer;
  border-bottom: 1px solid #3079ED;
}
#navigation li:hover{
  background: #66A0FF;
/*  background-image: -webkit-gradient(linear,left top,left bottom,from(#4D90FE),to(#4787ED));
  background-image: -webkit-linear-gradient(top,#4D90FE,#4787ED);
  background-image: -moz-linear-gradient(top,#4D90FE,#4787ED);
  background-image: -ms-linear-gradient(top,#4D90FE,#4787ED);
  background-image: -o-linear-gradient(top,#4D90FE,#4787ED);
  background-image: linear-gradient(top,#4D90FE,#4787ED);*/
  font-size:20px;
  height:75px;
  list-style-type:none;
  width:200px;
  cursor:pointer;
  border-bottom: 1px solid #3079ED;
}
#navigation li a { 
	padding: 20px 0px 0 40px;
	margin: 0px; 
	display: block; 
	width: 160px; 
	height:55px;
	line-height: 35px;
	text-decoration:none;
	}
#navigation .link_text{
	padding: 20px 0px 0 40px;

}	

#navigation li.current_main{
	background: black;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#000000),to(#333333));
  background-image: -webkit-linear-gradient(top,#000000,#333333);
  background-image: -moz-linear-gradient(top,#000000,#333333);
  background-image: -ms-linear-gradient(top,#000000,#333333);
  background-image: -o-linear-gradient(top,#000000,#333333);
  background-image: linear-gradient(top,#000000,#333333);	
	}
#navigation li.current_main a{
  color:white;
  }
#pointer {	
    background: url("pointer.png") no-repeat scroll left top transparent;   
    height: 75px;
    display: inline;
    position: absolute;
    left:0;
    width: 200px;
    z-index: 10;
}
#pointer-text {
	padding: 20px 0px 0 40px;
	color: white;
	float: left;
	font-size: 20px;
}
.gravatar{
display: inline-block;
margin-right: 10px;
width: 32px;
}
.image32 {

width: 32px;
height: 32px;
margin-right: 10px;
}
.image64 {

width: 64px;
height: 64px;
margin-right: 10px;
}
.image100 {
width: 100px;
height: 100px;
margin-right: 10px;
}
.user_description{
  position:relative;
  height: 150px;
}
.show_user_text{
position:absolute;
top:20px;
right:20px;
}
.show_user_image{
position:absolute;
top:20px;
left:20px;

}
/* dialog_form. */
.ui-dialog, .ui-dialog-content {
    overflow: visible !important
}
.dialog_form ul {padding:0}
.dialog_form li          {margin-bottom:12px; }
.dialog_form input       {width:369px;padding: 5px;}
.dialog_form select      {width:369px;}
.dialog_form li .submit  {cursor:pointer;padding-top:2px;float:right;width:100px;}
.dialog_form .log_times  {width:60px;}
.dialog_form input#done {width:15px; float:right;}
.dialog_form input#user_roles_admin {width:15px; float:left;}
.dialog_form input#user_roles_member {width:15px; float:left;}
.dialog_form input#user_roles_external_user {width:15px; float:left;}
#tabs{
float:left;
width:980px;
border: 0px;
padding: 0.1em;

-moz-border-radius: 0px;
-webkit-border-radius: 0px;
border-radius: 0px;
}

.tabsul{
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
border-radius: 0px;
}
input.error  {border:1px solid red }
div.error{
  width:355px;
  font-size:12px;
  color:red;
  white-space:nowrap;
  padding-top: 2px;
  padding-right: 10px;
  padding-bottom: 2px;
}
.indicator {position:absolute; top:28px;left:180px;width:15px;height:15px; display:block; background: url('spinner.gif') no-repeat right !important; }
a.quick_link {
cursor: pointer; font-size:12px; color:red;
}
a.quick_link:hover {
background: red;
color: white;
}
a.quick_todo_link {
cursor: pointer; float:left; font-size:12px; color:red; margin:20px 0px 10px 0px;
}
a.select_todo_link, a.remove_todo_link {
cursor: pointer; font-size:12px; 
}
a.highlight-class:hover{
background: #FCD7DB;
}
.highlight-class{
background-color: #FCD7DB;
}

.orange_bgr {
  background:       #F78D1D;
/* background: 			#F78D1D;
background: -webkit-gradient(linear,left top,left bottom,
color-stop(0, 		#FAA51A),
color-stop(1, 		#F47A20));
background: -moz-linear-gradient(top,  #FAA51A,  #F47A20);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#FAA51A', EndColorStr='#F47A20')"; */
			
}

/*statistics begin*/


#html_tabs{
position:fixed;
  top:125px;
  z-index:1000;
	border-bottom:1px solid #CB3900;
	border-top:1px solid #f2853c;
	color:white;
	height:62px;
	text-align:center;
	width:100%;
	max-width:980px;
	min-width:500px;
   
   
}

#html_tabs .content-wrapper {
	padding:0px;
	
}
#html_tabs ul{
padding: 34px 17px 0px;
overflow: hidden;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 40px;
margin: 0px;
}
#html_tabs ul li {
	float:left;
	height:29px;
	margin-right:7px;
}
#html_tabs ul li a {
    background:#fa7d1b;
    border-color:#ee5f00;
    border-style:solid;
    border-width:1px 1px 0;
    display:block;
    color:#FFF;
    font-size:12px;
    font-weight:bold;
    height:27px;
    line-height:27px;
    padding:0 12px;
    
}
#html_tabs ul li a:hover {
	background:#f57619;
	text-decoration:none
}
#html_tabs ul li a.current_link {
	background:#fff !important;
	border:1px solid #CB3900;
	border-bottom:1px solid #fff !important;
	color:#222 !important;
	

}
.home_content{
	margin-top: 188px;
	
}
.report_top, .report_middle, .report_bottom{
float:left;
width: 122px;
border-color:#DCDBDC;
    border-style:solid;
    border-width:0px 1px 1px;
}

.yellow{
  color: #606060;
border: solid 1px #B7B7B7;
background: #FCCE83;
background: -webkit-gradient(linear, left top, left bottom, from(#FCCE83), to(#EDEDED));
background: -moz-linear-gradient(top, #FCCE83, #EDEDED);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FCCE83', endColorstr='#EDEDED');
}
.green_gr{
  color: #606060;
border: solid 1px #B7B7B7;
background: #AAFC83;
background: -webkit-gradient(linear, left top, left bottom, from(#AAFC83), to(#EDEDED));
background: -moz-linear-gradient(top, #AAFC83, #EDEDED);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#AAFC83', endColorstr='#EDEDED');
}
.white {
color: #606060;
border: solid 1px #B7B7B7;
background: white;
background: -webkit-gradient(linear, left top, left bottom, from(white), to(#EDEDED));
background: -moz-linear-gradient(top, white, #EDEDED);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#EDEDED');
}

.white:hover {	
background: #ededed;	
background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));	
background: -moz-linear-gradient(top,  #fff,  #dcdcdc);	
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
.white:active {	color: #999;	
background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));	
background: -moz-linear-gradient(top,  #ededed,  #fff);	
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}
.statistics_head{
float:left;
border: 1px solid #999;
height:50px;
width: 100px;
padding:10px;
background-color: #999;
}
.money, .hours, .report_charts{
min-height: 128px;

min-width: 300px;
float: left;
border:1px solid #CB3900;
}
/*statistics end*/
.show-view{
margin-top:192px;

}
#show_content{
  margin-bottom:0px;
}

#description{

width:960px;

padding:10px;
font-size:12px;

		background: -webkit-gradient(linear,left top,left bottom,
		color-stop(0, 		#e6e6e6),
		color-stop(1, 		#ECECEC));
		background: -moz-linear-gradient(top,  #e6e6e6,  #ECECEC);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#e6e6e6', EndColorStr='#ECECEC')";
			
}
.show_statistics_wrapper{
  width: 800px;
 position:relative;
  height:112px;
}
.show_statistics_header{
  
position:absolute;
border:1px solid #B7B7B7;
border-bottom:none;
width: 100px;
padding:10px;
margin:0px;
text-align:center;
}
.statistics_header_hours{
  left:0px;
}
.statistics_header_done{
  
  left:122px;
}
.statistics_header_users{
  
  left:610px;
}
.three_box{
  left:244px;
  width:344px;
}


.statistics_unit{
position:absolute;
}
.statistics_unit, .statistics_unit_milestone{
height:50px;
width: 100px;
padding:10px;
text-align:center;
float:left;
}
.statistics_unit_milestone{
float:left;
}
.statistics_unit_hours{
top:40px;
}
.statistics_unit_users{
 top:40px;
 left:610px; 
}
.statistics_unit .unit{
font-size: 12px;
}
.one_number{
 
  line-height:50px;
}
.tab_box{

}
#charts{
width: 798px;
min-height: 130px;

}

#todos_chart{
  position:absolute;

left: 122px;
top:40px;

}


#milestones_chart{
 
  position:relative;
  border-top:1px solid #999;
  border-bottom:1px solid #999;
  width: 366px;
  height:70px;
  overflow:hidden;
  font-size: 10px;
  top:40px;
  left:244px;
}
.milestone_slider{
  position:absolute;
  left:0px;
  width: 10000px;
  z-index:1;
}
.right_slider, .left_slider{
  position:absolute;
  left:244px;
  width: 120px;
  height:72px;
  z-index:10;
  background: #fff;
  opacity: .6;
  cursor:pointer; 
  
}
.right_slider:hover, .left_slider:hover{
 
  background: #ddd;
  
  
}
.left_slider{
  left:0px;
  border-left:1px solid #999;
  border-right:1px solid #999;
}
.right_slider{
  left:244px;
  border-left:1px solid #999;
  border-right:1px solid #999;
}
.passed, .upcomming{
  float:left;
}
.arrow-e,
.arrow-w {
  /*
   * In Internet Explorer, The"border-style: dashed" will never be
   * rendered unless "(width * 5) >= border-width" is true.
   * Since "width" is set to "0", the "dashed-border" remains
   * invisible to the user, which renders the border just like how
   * "border-color: transparent" renders.
   */
  border-style: dashed;
  border-color: transparent;
  border-width: 0.53em;
  display: -moz-inline-box;
  display: inline-block;
  /* Use font-size to control the size of the arrow. */
  font-size: 25px;
  height: 0;
  line-height: 0;
  position: relative;
  top:23px;
  vertical-align: middle;
  width: 0;
}
.arrow-e {
  border-left-width: 1em;
  border-left-style: solid;
  border-left-color: #aaa;
  left: 45px;
}
.arrow-w {
  border-right-width: 1em;
  border-right-style: solid;
  border-right-color: #aaa;
  left: 35px;
}
.list_header{
  -moz-box-shadow: 0 3px 10px 1px #888;
  -webkit-box-shadow: 0 3px 10px 1px#888;
  box-shadow: 0 3px 10px 1px #888;
  padding: 15px 10px 10px 10px;
	list-style:none;
	height: 40px;
	border: 1px solid 		#DA7C0C;
	position:fixed;
	top:125px;
	z-index:1000;
	width:100%;
	max-width:958px;
	min-width:500px;

}
.list_header .search{
	float: right;
	
	
}
#index_logs{
 margin-top:340px;
 width:980px;
}
#index_log_header{
  height:52px;
  -moz-box-shadow: 0 3px 10px 1px #888;
  -webkit-box-shadow: 0 3px 10px 1px#888;
  box-shadow: 0 3px 10px 1px #888;
  position:fixed;
  top:279px;
  
}


.list_header_log{
  
  padding: 10px;
	list-style:none;
	min-height: 130px;
	border: 1px solid 		#DA7C0C;
	position:fixed;
  top:125px;
  z-index:1000;
	
  min-width:958px;
	
}
.log_form, .log_form_rec {
  margin-left:60px;
  width: 800px;
  min-height: 120px;
  border:1px solid #999;
 
}


.start_tracking_form, .stop_tracking_form{
margin:auto;

width: 674px;
}
.tracking_container{
  margin: 0 0 30px 0;
  margin-top:30px;
}

.tracking_log_event {

height: 50px;
padding: 0px 5px 0px 5px;
background: white;
border: 0em;
color: black;
font-size: 25px;
float:left;
width:500px;
margin-right: 7px;

}

.searchableS_tracking{
  width:200px;
}
.clock_start, .clock_rec{
height: 35px;
background: white;
font-family:arial;
color: #bbb;
width:90px;
letter-spacing: -1px;
font-size: 24px;
padding: 13px 5px 2px 5px;
float:left;
margin-right:7px;
}

.log_form #new_log, .log_form_rec #new_log{
margin: 10px auto 0 auto;
width:700px;
}


.open_tracking_select, .open_not_required, .close_tracking_select, .close_not_required{
  cursor:pointer;
  margin-left: auto;
  margin-right: auto;
  display:block;
  width: 100px;
  height: 20px;
}
.open_tracking_select, .open_not_required{
  background: url("open_tracking_select.png") no-repeat scroll left top transparent;
}
.close_tracking_select, .close_not_required{
  background: url("close_tracking_select.png") no-repeat scroll left top transparent;
}

.open_tracking_select_container{
  width: 800px;
  height: 20px;
  background:  #FBFBFB;
 
}

.open_not_required_container{
width: 600px;
	height: 20px;
  background:  #E6E6E6;
  margin-top: 20px;	
}
.tracking_select{ 
  height: 120px;
}
.red{
background-color:#FCD7DB;
}
.blue{
  background-color:#BFD6FF;
}
.green{
  background-color:#B0FFA8;
}
.todo_red{
background-color:#FF3333;
}
.todo_yellow{
background-color:#F2EA00;
}
.todo_green{
background-color:#14F200;
}
input.start{
cursor: pointer;
background:url(start64.png);
height: 50px;
width: 46px;
border:0px;
}
input.stop{
cursor: pointer;
background:url(stop64.png);
height: 50px;
width: 50px;
border:0px;
}
#tracking_customer_employee label, #tracking_project_task label{
  width:90px;
 display: inline-block;
  line-height: 2.3;
  vertical-align: top;
  
}
#tracking_customer_employee{
float:left;
  width:300px;
  
   margin: 0 0 0 30px;
}

#tracking_project_task{
float:left;
  width:300px;
margin: 0 0 0 0;
}

#id_search_list{
	height: 33px;
	font-size:20px;
}
#main #center{

  width:700px;
  
  
 
}

#main #left{
  

  
	
	
}
.left{
float: left;
}
#main #right {
overflow:hidden;
  float:right;


}
.inner{
position:relative;
max-width:980px;

}

.index-view{


}

#cus_pro_us_listing_container{
  margin-top:192px;
  width:auto;
  max-width:980px;
  min-width:600px;
}

#cus_pro_us_listing{

font-size:18px;
padding:0px;
margin:0px;
}
.tab_list, .archive_tab_list{	
	padding: 0px 0 0 10px;
	list-style:none;
	height: 40px;
	border: 1px solid #DCDBDC;
	color:#000;
  line-height: 40px;
}
.tab_list{
background: 			#e6e6e6;
/*		background: -webkit-gradient(linear,left top,left bottom,
		color-stop(0, 		#e6e6e6),
		color-stop(1, 		#ECECEC));
		background: -moz-linear-gradient(top,  #e6e6e6,  #ECECEC);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#e6e6e6', EndColorStr='#ECECEC')";	
*/}
.archive_tab_list{
background: 			#FFF2F5;
		background: -webkit-gradient(linear,left top,left bottom,
		color-stop(0, 		#FFF2F5),
		color-stop(1, 		#ECECEC));
		background: -moz-linear-gradient(top,  #FFF2F5,  #ECECEC);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFF2F5', EndColorStr='#ECECEC')";	
}
.tab_list_text{
display:inline-block;
padding:0px 0 0 0;
}


#main #left #customer {
  float:left;
  width:420px;
  }


#main #bottom{
  padding: 20px 0px 20px 0px;
  width:1110px;
  clear:both;
}


#projects a:hover, .select_todo_link:hover{
background: #ccc;
}
.project_todo_customer_select{
width: 605px;
padding-top: 10px;

}
.what_project, .what_todo{
font-size:12px;


}

.customer_select{
float:right;
font-size:12px;

}
.log_menu{
position:relative;
height:32px;
width:970px;
padding:10px 5px 10px 5px;
background:#fbfbfb;
}
.range{
position:absolute;
  top:10px;
  right:220px;
max-height: 35px;

}
#range_date_fields{
  position:absolute;
  width:200px;
  top:1px;
  right:0px;
  height:35px;
}
.range_date, .todo_range_date  {
  
  width:95px; height:33px; padding: 0 5px 0 5px; font-size: 15px; color: #777;}

.listing_logs, #listing_milestones, #todos_list, #listing_projects, #listing_employees{
padding-left: 5px;
}
#log{
  font-size:15px;
  border: 1px solid #999;
  padding: 2px;
  width:800px;
  
  } 
.logs_pr_date{
  position:absolute;
  top:10px;
  right:10px;
 
}
.add_some{ 
  width:500px;
  float: left;
}

#dialog_log{
float:left;
}
.activate_projects_no_button{
  cursor:pointer;
  float:right;
}
.edit, .delete{
  cursor:pointer;
}
.edit:hover, .delete:hover{
  cursor:pointer;
  text-decoration:underline;
}


.info {
border-bottom: 1px solid #E5E5E5;

}



.log_date{
  width:70px;
  
}
.date_on_log{
  display: inline-block;
  width:74px;
}

/*employee begin*/

.employee_name, .employee_phone, .employee_email{
  display: inline-block;
  width:135px;
   
}
.employee_edit_link{
  cursor: pointer;
  title: "Edit";
  display: inline-block;   
  }

/*project begin*/
 .project_due{
  display: inline-block;
  
}
.project_desc, .project_name{
  display: inline-block;
  width:270px;
}
/*project form*/

/*project end*/

/*all view*/
.gravatar_on_log,.event_on_log,.pro_tod_cus_emp_on_log,
.cus_emp_on_log, .pro_tod_on_log,.date_and_times_on_log, 
.delete_edit, .name_todo, .name_todo_head, .name_todo_header,.name_milestone ,.date_all, .user_todo, .priority_todo, .customer_todo, .project_todo, 
.delete_edit_archive, .logs_pluss, .logs_minus{
display: inline-block;
  vertical-align:top;
}
/*log begin*/




.gravatar_on_log{
margin-right: 10px;
width: 32px;
}

.event_on_log {
  width: 455px;
 margin: 0 10px 0 0;
}
.date_and_times_on_log{
  width: 115px;
  font-size: 9px;
  border-right: 1px solid #E5E5E5;
   
}
.pro_tod_cus_emp_on_log{
width: 210px;
font-size: 10px;
overflow:hidden;
white-space:nowrap;
}
.cus_emp_on_log, .pro_tod_on_log{
width: 100px;

}
.pro_cus_on_log, .tod_emp_on_log{
overflow:hidden;
white-space:nowrap;
line-height:18px;
}
.pro_cus_on_log{
font-weight: bold;

}
.tod_emp_on_log{

}


.total_log_time{
  font-size: 20px;
  letter-spacing: 2px;
}

/*log end*/
/*Todo view begin*/
#done_tasks .name_todo{
  text-decoration:line-through;
}
.edit_todo{
	margin: 0;
	width: 13px;
	display: inline;
}
.name_todo, .name_todo_head{
 	width: 377px;
  	padding: 0 10px 0 0;
}
.name_todo_head{
	margin-left:54px;
}
.logs_pluss, .logs_minus{
 width: 10px;
 color: green;
 cursor:pointer;

}
.display_todo_logs{
	-moz-box-shadow: 0 3px 10px 1px #888;
  -webkit-box-shadow: 0 3px 10px 1px#888;
  box-shadow: 0 3px 10px 1px #888;
  padding: 15px 10px 10px 10px;
  background-color: #EEEEEE;
}
.name_todo_header{
 width: 512px;
  padding: 0 10px 0 0;
}
.user_todo, .customer_todo{
 width: 130px;

}
.project_todo{
 width: 100px;
}
.priority_todo{
	width: 10px;
	height: 20px;
}
.date_all{
	width: 60px;
  font-size:12px;
  line-height:20px;
  

}
.info_head{
font-size: 15px;
font-weight: bold;
}

.delete_edit{
  width:80px;
line-height:20px;
  font-size: 12px;
 
  
}
.delete_edit_archive{
  width:70px;
  font-size: 10px;
}
/*Todo view end*/
/*Project view end*/
.delete_edit_archive{
  width:120px;
  font-size: 10px;
}
/*Project view end*/


/*milestone view start*/

.name_milestone{
width:740px;
}

/*milestone view end*/
#users_list{
width: 980px;
float: left;
padding:0 10px;
}
#users_list_header{
width: 980px;
float: left;
padding:10px;
}
.members_header, .not_members_header{
 width:470px;
  
  float:left;
 text-align:center;
}
.not_members_header{
  margin-left:10px;
}
#members, #not_members{
  width:470px;
  border:1px solid #B7B7B7;
  float:left;
  margin-top:0px; 
  min-height: 450px;
}
#not_members{
  margin-left:10px;
}
.user_info {
  float:left;
  width:212px;
  height: 64px;
  margin:5px;
  padding:5px;
  
  font-size:12px;
  overflow:hidden;
}
.user_info img{
  float:left;
  clear: left;
  }

#footer {
  
  -moz-box-shadow: 0 0 10px #888;
  -webkit-box-shadow: 0 0 10px#888;
  box-shadow: 0 0 10px #888;
  clear:both;
  z-index:10000;
  position:fixed;
  bottom:0px;
  width:100%;
  height: 30px;
  line-height:30px;
  text-align:center;
  background-color:white;	
 
}
#footer p{
  margin:0;
  height: 40px;	
 
}



.update input.logo{
font-size:15px;
margin-bottom: 10px;

}
.update input.background_style, .update input.text_style{
width:100px;


}
.background_style_color, .text_style_color{
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border:1px solid #999;
display: inline-block;
height: 28px;
width: 28px;
margin-bottom:2px;
vertical-align: bottom;
}

.signup label, .update label{
display: block;
margin-left: 20px;
float: left;
width: 150px;
line-height: 30px;
}
.signup .submit, .update .submit{
width: 150px;margin-left:170px;cursor:pointer;padding-top:2px;width:100px;border:1px solid #999; font-size:20px;background:#fff;
background: #2E8D11;
background: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0, #2E8D11), color-stop(0.7, #72C152), color-stop(0.96, #72C152), color-stop(1, #99EB79));
background: -moz-linear-gradient(center bottom, #2E8D11 0%, #72C152 70%, #72C152 96%, #99EB79 99%) repeat scroll 0 0;
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#72C152', endColorstr='#2E8D11');
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#72C152', endColorstr='#2E8D11')";
border: 1px solid #2E8D11;
color: white;
}

.signup .submit:hover, .update .submit:hover{background:#3ea60b;
background:-webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0, #3ea60b), color-stop(0.7, #72c152), color-stop(0.96, #72c152), color-stop(1, #99eb79));
background:-moz-linear-gradient(center bottom, #3ea60b 0%, #72c152 70%, #72c152 96%, #99eb79 100%) repeat scroll 0 0;
filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#72c152', endColorstr='#3ea60b');
-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#72c152', endColorstr='#3ea60b')"}

.update_firm, .update_user{
float:left;
width: 600px;
margin-top:20px;
padding: 20px 0 0 0 ;

}
.update_firm .update-form-field{
display: block;
padding: 10px 0 10px 0;

}


.firm_account{
background-color: #eee;
padding: 20px;
font-size: 15px;
}
.firm_preferences{
padding: 20px;
min-height:600px;
font-size: 15px;
}
.firm_preferences ul, .firm_account ul{
padding: 0;
}
.firm_preferences ul li, .firm_account ul li{
padding: 10px 0 10px 0;
border-bottom: 1px solid #999;

}
.preference_label  {
margin-left: 20px;
display: inline-block;
width: 150px;

}
.timesheet .submit, .firm_account .submit, .firm_preferences .submit, .plans .submit{
background:#323CED;
padding:10px; font-size:15px;
letter-spacing: 1px;
color: white;
}
.timesheet .submit:hover, .firm_account .submit:hover, .firm_preferences .submit:hover{
background:#0B16DB;
letter-spacing: 1px;
cursor:pointer;

}	
.error_message {font-size: 12px; color: red;float:right; padding-right: 50px;}
.field_error input { border:1px solid red; }

.form_layout_search					{padding:20px 20px 20px 20px;width:550px;border:1px solid #999;background-color:#ebf4fb;margin-top:0px;}
.form_layout_search li input     {width:400px;float:right;padding:2px;border:1px solid #999; font-size:20px;background:#fff;}

.form_layout					{ padding:20px 20px 50px 20px;width:550px;border:1px solid #999;background-color:#ebf4fb;}
.form_layout li					{clear:both;padding-top:2px;}
.form_layout li label			{width:100px;float:left;}
.form_layout li input			{width:400px;float:right;padding:2px;border:1px solid #999; font-size:20px;background:#fff;}
.form_layout li select			{width:135px;float:right;padding:2px;border:1px solid #999;background:#fff;}
.form_layout li textarea		{width:400px;float:right;padding:2px;border:1px solid #999;background:#fff;}
.form_layout li .submit			{cursor:pointer;padding-top:2px;float:right;width:100px;}

.quick_form_layout          {padding:20px 20px 50px 20px;width:400px;border:1px solid #999;background-color:#ebf4fb;}
.quick_form_layout li         {clear:both;padding-top:1px;}
.quick_form_layout li label     {width:100px;float:left;}
.quick_form_layout li input     {width:200px;float:right;padding:2px;border:1px solid #999; font-size:12px;background:#fff;}
.quick_form_layout li select      {width:135px;float:right;padding:2px;border:1px solid #999;background:#fff;}
.quick_form_layout li textarea    {width:200px;float:right;padding:2px;border:1px solid #999;background:#fff;}
.quick_form_layout li #employee_submit     {cursor:pointer;padding-top:2px;float:right;width:50px;}


.ui-datepicker {width:200px;}
.ui-datepicker button {font-size: 12px;}
.ui-timepicker-div {font-size:12px; width: 200px;}
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 12px; }

input[type="radio"]{
	vertical-align:middle; 
	margin-bottom: 4px;
	width: 10px;
}
