.blue2{
	padding:20px;
}
.credit_card_form_holder{
	width:650px;
	border: 1px solid #999999;
	padding:40px;
	margin-left: auto;
  margin-right: auto;
  margin-top:20px;
}
.credit_card_form_holder .signup-form-field{
display: block;
position: relative;
height: 60px;
width: 650px;

}
.credit_card_form_holder input{
width:364px;
float:right;
padding:2px; 
font-size:20px;
line-height: 1.2em;
background:#fff;
}
.credit_card_form_holder label{
	font-size:17px;
display: block;
margin-left: 20px;
float: left;
width: 266px;
line-height: 30px;
}
.credit_card_form_holder .submit{
	background:#323CED;
padding:10px; font-size:15px;
letter-spacing: 1px;
color: white;
}
.credit_card_form_holder .submit:hover{
background:#0B16DB;
letter-spacing: 1px;
cursor:pointer;
}