<div class="terms">
      <header>
<h1>Imprint</h1>
</header>
<section>

<p>
<h3>Squadlink</h3>
Aasheimkroken 106<br/>
SPYDEBERG, Ostfold 1820<br/>
Norway<br/>
support@suadlink.com<br/>
VAT number: NO985002975MVA<br/>
Telephone: +4792444014<br/>
Email: support@squadlink.com

</p>

Terms of Service: <a href="/termsofservice">https://squadlink.com/termsofservice</a><br/>
Privacy Policy: <a href="/privacy_policy">https://squadlink.com/privacy_policy</a><br/>
Legal form: Individual enterprise<br/>


<p>Squadlink.com is legally represented by Andreas Lyngstad. He can be contacted at above given contact information</p>
</section>

</div>